In [9]:
import pandas as pd
import scipy.stats as stats
import numpy as np

# Example data: Two categorical variables
data = {'Gender': ['Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male'],
        'Purchased': ['Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No']}

df = pd.DataFrame(data)
df

   Gender Purchased
0    Male       Yes
1  Female        No
2  Female       Yes
3    Male        No
4    Male       Yes
5  Female       Yes
6  Female        No
7    Male        No

In [10]:
# Create a contingency table
contingency_table = pd.crosstab(df['Gender'], df['Purchased'])
contingency_table

Purchased  No  Yes
Gender
Female      2    2
Male        2    2

In [11]:
# Perform Chi-Square Test of Independence
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

# Calculate Cramer's V
n = contingency_table.sum().sum()
cramers_v = np.sqrt(chi2 / (n * (min(contingency_table.shape) - 1)))

# Display results
print(f"Chi-Square Statistic: {chi2}")
print(f"P-Value: {p}")
print(f"Cramer's V: {cramers_v}")

Chi-Square Statistic: 0.0
P-Value: 1.0
Cramer's V: 0.0